h1{
  font-family: arial;
  font-size: 40px;
}
.indent{
	margin-left: 30px;
}
.year{
  color: blue;
}
.jumbotron{
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: lightblue;
}
#heading{
	border-bottom: 1px solid black;
}